*.zip
weclaw
wexin-agent-sdk
node_modules/
dist
.worktrees/
openclaw
.claude/
.agents/
.codex/
.opencode/
.qoder/
.antigravitycli/
undefined/
.nvm*
.npm*
*.local.md
**.DS_Store**

# docs/superpowers
docs/releases
docs/202*
packages/docs/.vitepress/cache
packages/docs/.vitepress/dist
.superpowers/
.gstack/

.mock-agent-*.json
